form{
    margin-left: auto;
    margin-right: auto;
}

fieldset{
    border: 1px solid #548cdf;
    border-radius: 10px;
    margin-top: 20px;
}

legend{
    color: #2464c3;
}

option, h1{
    padding: 10px;
}

input[type="radio"]{
    width: 5px;
}

.label-top{
    position: relative;
    padding-top: 13px;

    padding-left: 10px;
    float: left;
}

.label-top label{
    padding-left: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
}



textarea{
    width: 90%;
}
button{
    float: right;
    margin-top: 25px;
    color: white;
    background-color: #2464c3;
    border: none;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
}

input{
    width: 90%;
    height: 20px;
}

select {
    width: 90%;
    height: 40px;
}

input,textarea,select {
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    min-width: 100px;
    padding:10px;
    font-size: 12pt;
    margin-top: 10px;
    margin-left: 5px;
}

input:focus, textarea:focus, select:focus {
    border: 1px solid #3951b2;
}

@media only screen and (min-width: 500px){
    form{
        width: 60%;
    }

    .full-line{
        width: 97%;
        margin-top: 5px;
    }

    .half-line{
        width: 45%;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 500px){
    form{
        width: 90%;
    }
    .half-line,.full-line{
        width: 90%;
        margin-top: 5px;
    }
}

