*{
    margin: 0px;
}

header{
    height: 70px;
    background-color: #2464c3;
    display: flex;
}

ul{
    list-style: none;
    padding-left: 0px;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}
ul li a:hover{
    background-color: #1c4e98;
    border-left: solid 5px white;
    cursor: pointer;
}

.menu-expandivel:after{
    float: right;
    font-family: fontAwesome;
    content: "\f078 ";
}

.menu-expandivel.active:after{
    content: "\f077 ";
}

.menu-expandivel.active{
    background-color: #1c4e98;
    border-left: solid 5px white;
}
.subMenu{
    display: none;
    background-color: #494949;
    width: 100%;
    text-indent: 30px;
}
.sub-lateral.active ul {
    display: block;
}



.subMenu a:hover{
    background-color: #3f7edb;
}

#logo{
    width: 30%;
    min-width: 250px;
}

#logo img{
    float: left;
    padding: 10px;
}

#txtLogo{
    float: left;
    font-size: 50px;
    color: white;
    padding: 8px;
}

#headerBlank{
    position: relative;
    float: right;
    width: 50%;
    height: 70px;
}
#usuario{
    position: absolute;
    height: 70px;
    right: 20px;
}

#usuario img{
    float: right;
    padding-top: 20px;
}
#usuario p{
    float: left;
    padding: 10px;
    padding-top: 30px;
    color: white;
}

#usuario img:hover{
    cursor: pointer;
}

#menuLateral{
    position: fixed;
    width: 20%;
    min-height: 550px;
    min-width: 155px;
    background: #262525;
    color: white;
}

#menuLogout{
    display: none;
    background-color: #262525;
    position: absolute;
    right: 20px;
    top: 70px;
    width: 110px;
    height: 80px;
}

#menuLogout li a:hover{
    border: none;
}

#menuLogout.active{
    display: block;
    animation-name: descerMenu;
    animation-duration: 0.5s;
}


#corpoPage{
    width: 80%;
    float: right;
}

@keyframes descerMenu {
    from {height: 0px;}
    to {height: 80px;}
}
