table{
    margin-top: 50px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

td{
    border-bottom: 1px solid black;
    padding: 10px;
}

th{
    border-top: 1px solid black;
    background-color: #2464c3;
    color: white;
    padding: 10px;
    text-align: left;
}

#botaoNovo{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#botaoApagar{
    background: red;
    color: white;
    height: 24px;
    border: none;
    border-radius: 3px;
}