*{
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body{
    background-color:white;
    min-width: 800px;
}

header{
    background-color: rgb(21, 117, 226);
    width: 100%;
    height: 80px;
}

h1{
    text-align: center;
    color: white;
    padding-top: 20px;
}

input{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px gray;
    text-indent: 10px;
    font-size: 16px;
}



button{
    width: 18%;
    height: 44px;
    border-radius: 5px;
    background-color:rgb(21, 117, 226);
    border: solid 1px rgb(21, 117, 226);
    color: white;
}

.divCorpo{
    width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#card{
    width: 400px;    
    background-color: white;
    text-indent: 5px;
    color: gray;
}

#temperatura{
    font-size: 50pt;
    text-align: center;
    text-indent: 0px;
    color: gray;
}
#cidade{
    font-size: 14pt;
}